<meta charset="UTF-8">
<title>Index Page</title>

<style>

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}



.login-form h2, .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
   input[type="text"], input[type="password"],input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: .5;
    background: black;
    color:#fff
  }
  
  button[type="submit"] {
    width: 95%;
    padding: 10px;
    background-color: #000000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .switch-form {
    margin-top: 10px;
    font-size: 14px;
    color:#fff
  }
  
  .switch-form a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .switch-form a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .login-form, .register-form {
    border-bottom-left-radius: 0; /* Round only top corners */
    border-bottom-right-radius: 0; /* Round only top corners */
    border-bottom: none; /* Remove bottom border */
  }
  
  .register-form {
    width: 30%;
  }
  #pgMsg{
    text-align: center;
    color:black;
    font-size: 15px;
    font-weight: bold;
  }
</style>