<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body style="background:linear-gradient(230deg,#f902ff,#00dbdf)">
    <div class="container">
        <%- include('../partials/signupForm'); %>
    </div>
</body>
</html>